/* *{
    border: 1px solid rgb(255, 0, 0);
} */

.navbar-expand-lg{
    background: rgba(46, 34, 2, 0.884);
    padding: 8px;
    margin: 0%;
    position: absolute;
    z-index: 1;
} 

.caption p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    }

.nav-link{
    color: azure;
}

.nav-link:hover{
   color: beige;
}

.navbar-brand{
    color: azure;
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
  li{
      display: inline;
      margin-right: 20px;
  }

  .navbar-brand{
      margin-right: 100px;
      margin-left: 50px;
  }

  .navbar-brand:hover{
  color: bisque;
}

  .navbar-expand-lg{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
}

.caption h1 {
    font-size: 70px;
    color: azure;
    margin-bottom: 30px;
}

.caption h3{
    font-weight: 300;
    color: azure;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.btn{
    color:black;
    background-color: rgb(255, 156, 42);
    border-color: rgb(255, 156, 42);
    font-weight: 600;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;  
    height: 50px;  
}

.bi-arrow-down-short{
    color: azure;
}

img#bg-image1{
    height: auto;
    width: 100%;

}

img#bg-image2{
    width: 100%;
}

#bg-image2{
    background-image:
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 5.63%, #080A0B 70.74%),
    url('assets/the-games-bg.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    color: white;
    
}

#item-bg2{
    margin-top: 150px;
    margin-bottom: 150px;
}

#item-bg2 h1{
 font-size: 80px;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 font-size: 56px;
 line-height: 64px;
 letter-spacing: 3px;
 text-transform: uppercase;

 color: #FFFFFF;
}

#item-bg2 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    
    color: #FFFFFF;   }

#bg-image3{
    background-image:
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 40.63%, #080A0B 90.74%),
    url('assets/features.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
}

#header-bg3{
    margin-top: 180px;
}

#header-bg3 h2{
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 font-size: 56px;
 line-height: 64px;
 letter-spacing: 3px;
 text-transform: uppercase;
 margin-bottom: 50px;
}

#fitur h6{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    
    color: #FFB548;}

#fitur p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    color: #FFFFFF;}

#spek-list h5{
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 28px;
 letter-spacing: 2px;

color: #FFB548;
}

#spek-list p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    text-align: justify;
    color:#FFFFFF;
}

#title-2{
    font-size: 23px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

#bg-image4{
    background-image:
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 10.63%, #080A0B 65.74%),
    url('assets/requirements.png');
    width: 100%;
    height: 1000px;
    background-size: cover;
}

#minitext p{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 2px;
}

#judul-spek h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#bg-image5{
    background-image:
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 10.63%, #080A0B 65.74%),
    url('assets/top-score-bg.png');
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 950px;
    background-size: cover;
}

#high-score h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 25px;
    
    color: #FFFFFF;}

#high-score p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
        
        
    color: #FFFFFF;    }


.profil-pic{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.card-title{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;    
    letter-spacing: 2px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: #FFB548;}

.card-subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;    
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 1px;
}

#testi{
    margin-bottom: 10px;
    margin-top: 7px;
}

#testi2{
    margin-bottom: 7px;
}

.card{
    margin-bottom: 30px;
}

#bg-image6{
    background-color: #080A0B;
    width: 100%;
    height: 950px;
}

img#newsletter-pic{
    position: relative;
    width: 445.47px;
    height: 694.41px;
    left: 159.96px;
    top: 49.98px;   
    z-index: 1;
    display: block;
    
}

.pickgradient{
  
    width: 600px;
	height: 650px;
	background:
    radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 30.63%, #080A0B 85.74%),
    url(assets/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 150px;
}

.email-col{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    opacity: 0.5;
    
}

.email{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;    
    color: #FFB548;

}

.newsletter-caption{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
       
    color: #FFFFFF;
    padding-bottom: 50px;
}

.newsletter-header{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;

}

.newsletter{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    letter-spacing: 2px;
    
    color: #FFFFFF;}

.footer-item li{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    }


.footer-items{
    color: white;
}

.footer-items:hover{
    color: wheat;
}