/* *{
    border: 1px solid rgb(255, 0, 0);
} */

#game-background{
    background-color: #9C835F;
    width: 100%;
}

#player{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    color: #000000;
    }

#back-button{
    width:30px;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 20px;

}

#logo-game{
    width: 60px;
    margin-right: 25px;
    margin-top: 20px;
}

#header{
    margin-top: 25px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    text-align: center;  
    color: #F9B23D;

}

#refresh-btn{
    width: 80px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
}

.col-4 img{
    width: 150px; 
    display: block; 
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px ;
    border-radius: 20%;
    transition: all 0.3s ease;
}

.col-4 img:hover {
    cursor: pointer;
    background-color:#C4C4C4;
}

#hasil{
    margin: auto;
    width: 300px;
    background-color: #9C835F;
    cursor: default;
    }